* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--color-primary);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #566c2b;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border: 2px solid transparent;
  border-radius: 2rem;
  background-clip: content-box;
}

:root {
  --color-primary: #fff;
  --para_color: #000;
  --line: #00000052;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #000;
    --para_color: #fff;
    --line: #ccc;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--para_color);
}

header {
  background: #566c2b;
  padding: 1rem 1rem;
  font-weight: 600;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header ul {
  display: flex;
  column-gap: 2rem;
  margin-left: 1rem;
}

header ul a {
  color: #fff;
}

.logo h1 a {
  color: #fff;
}

i {
  font-size: 1.2rem;
  color: #fff;
}

.container {
  padding: 1rem 1%;
  display: flex;
  justify-content: space-between;
}

.left {
  flex-basis: 20%;
  background: var(--color-primary);
  padding: 2rem 1rem 0 0.8rem;
}

.left img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  margin-top: 1rem;
}

.left ul a {
  display: block;
  padding: 10px;
  color: var(--para_color);
  border-bottom: 1px solid var(--line);
}

.right {
  flex-basis: 80%;
  padding: 1rem 2rem;
  background: var(--color-primary);
}

.right h2 {
  margin-bottom: 1.5rem;
  color: var(--para_color);
}
.right p {
  margin-bottom: 2rem;
  font-weight: 600;
  color: var(--para_color);
  word-break: break-all;
  line-height: 1.3rem;
}

.services_container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.service_img img {
  width: 100%;
  margin-bottom: 1rem;
}

.service_img h3 {
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--para_color);
}

.service_img p {
  margin-bottom: 1rem;
  word-break: break-all;
  line-height: 1.3rem;
}

.service_img a {
  display: inline-block;
  padding: 1rem 2rem;
  background: gray;
  font-weight: 600;
}

.footer {
  background: red;
  padding: 1rem 0;
}

.footer p {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .services_container {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  #menu {
    flex-direction: column;
    gap: 1rem;
  }
  #position {
    order: 2;
  }
}
